/* h2 {
  size: 5rem;
  text-transform: uppercase;
  color: green;
}
h3 {
  size: 2.2rem;
  text-transform: uppercase;
  color: blue;
} */

footer {
  background: #000000;
  height: 10vh;
}

body{
  margin: 0px;
}